*{margin: 0%; padding: 0px;box-sizing: border-box;}
.mybtn{ border-radius: none ; background-color: #7C4EE4; color: #FFFFFF;}
.myul{display: flex; justify-content: end;}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #7C4EE4;
}
.rectangle{ background-color: #7C4EE4;}
.h1{text-transform: capitalize; color: #FFFFFF;}
.para{color: #FFFFFF; font-size: x-small;}
.button{background-color: #FFFFFF; border-radius: none
    ; font-size: smaller;}
    .rightcolumn{position: relative;}
.img1{position: absolute; width: 360px; }
.rtwopara{text-align:; margin-left: 0% !important; padding:  0% !important; color: black; font-weight: 700; font-size: xx-large;}
.mybtn2{margin-top: 7px; color: #FFFFFF; background-color: #7C4EE4; margin-left: 449px; width: 100px;}
.rowtwo{ }
.placeholderimg{ width: 1000px; padding-left: 180px;}
.secondpart{width: px ; position: absolute;right: 0; bottom: -73px; background-color: #FFFFFF; border-radius: 15px ; font-size: x-small;}
.parentcolumn{position: relative;}
.sptext{font-size: xx-small;}
.textpara{}
.secondpartpara{}
.sph1{font-size: large; }
.mybtnreadmore{border: 1px solid #7C4EE4; color: #7C4EE4; padding: 1 !important; font-size: small;}
.secondimg1{margin-top: -250px; width: 500px;}
.mycards{width: 85%;}
.bgcontainer{margin-top: 150px; background-color: #7C4EE4;}
.footer{text-align: center;}
.mybutton{border: 1px solid #ffffff; color: #FFFFFF;}
.ipfield{border-radius: 15px solid #ffffff !important;}









@media (max-width: 767px) {

  /* Navbar */
  .myul {
    justify-content: center;
  }

  .mybtn {
    margin-top: 10px;
  }

  /* Headings & text */
  .h1 {
    font-size: 26px;
    text-align: center;
  }

  .para {
    font-size: 12px;
    text-align: center;
  }

  /* Images */
  .img1,
  .secondimg1,
  .placeholderimg {
    position: static;
    width: 100%;
    padding-left: 0;
    margin: 0;
  }

  /* Second row section */
  .rtwopara {
    font-size: 20px;
    text-align: center;
  }

  .mybtn2 {
    margin-left: 0;
    width: 100%;
  }

  .ipfield {
    width: 100%;
    margin-bottom: 10px;
  }

  /* Cards & containers */
  .mycards {
    width: 80%;
  }

  .bgcontainer {
    margin-top: 50px;
  }

  /* Footer */
  .footer {
    text-align: center;
  }

  .textpara{display: none;}
  .sppara{display: none;}
  .secondimg1{margin-top: 15px; margin-bottom: 15px; }
  .button{width: 50%; margin-right: 70px ;}

}

@media (min-width: 768px) and (max-width: 991px) {

  .h1 {
    font-size: 34px;
  }

  .para {
    font-size: 14px;
  }

  .img1 {
    width: 280px;
  }

  .placeholderimg {
    width: 100%;
    padding-left: 0;
  }

  .secondimg1 {
    width: 600px;
    margin: 0px auto;
  
  }

  .mybtn2 {
    margin-left: 0;
    width: 140px;
  }

  .mycards {
    width: 95%;
    margin-top: 10px;
  }

  .bgcontainer {
    margin-top: 100px;
  }
  
  .sppara{display: none;}

  .rowtwo{margin-bottom: 10px;}

  .myul {
    justify-content: center;
  }
}
